<div class="pt-5 pr-0 pb-0 pl-0 mt-5 mr-0 mb-0 ml-0">
  <div class="sm:flex sm:items-center sm:justify-between sm:space-x-5">
    <div class="flex items-center flex-1 min-w-0">
      <img
        [alt]="item?.name"
        [src]="item?.imageUrl"
        class="flex-shrink-0 object-cover rounded-full btn- w-10 h-10"
      />
      <div class="mt-0 mr-0 mb-0 ml-4 flex-1 min-w-0">
        <p class="text-lg font-bold text-gray-800 truncate">
          {{item?.name}}
        </p>
        <p class="text-gray-600 text-md">{{item?.company}}</p>
      </div>
    </div>
    <div
      class="mt-4 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-14 flex items-center sm:space-x-6 sm:pl-0 sm:mt-0"
    >
      <button
        (click)="applyJob()"
        [disabled]="disabled"
        class="bg-gray-800 pt-2 pr-6 pb-2 pl-6 text-lg font-medium text-gray-100 transition-all duration-200 hover:bg-gray-700 rounded-lg disabled:bg-gray-300 disabled:hover:bg-gray-300"
        >{{disabled?'Applied':'Apply'}}</button
      >
    </div>
  </div>
</div>
